@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');


body,html{margin:0;padding:0;height:100%;overflow-x:hidden;}
body{
  background-color: #000;
  background-size:cover;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
}
h1 {
  font-size:3rem;
  color: #fff;
  font-family: 'Permanent Marker', cursive;
  font-weight:600;
  letter-spacing: 4px;
  margin-left: 10px;
}
.splash {
  height: 100vh;
  width: 100%;
  position: absolute;
   min-height: 100%;
   padding:0;
   margin:0;
   z-index: 10;
  background-color: #000;
  display:flex;
  justify-content:center;
  align-items:center;
  opacity: 1;
  animation-name: outro;
  animation-duration: 0.5s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
  animation-delay: 3s;
}

.text--line {
  font-size:6rem;
  font-family: 'Permanent Marker', cursive;
  font-weight:600;
  letter-spacing: 8px;
}

#outline {
  fill: none;
  stroke:#fff;
  stroke-dasharray:100%;
  stroke-dashoffset:0;
  animation-name: outline;
  animation-duration: 2.5s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
}

#fill {
  fill-opacity: 0;
  fill:#fff;
  animation-name: fill;
  animation-duration: 0.5s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
  animation-delay: 1s;
}


@keyframes outline{
  from{
    stroke-dashoffset:100%;
  }

  to{
    stroke-dashoffset:0;
  }
}

@keyframes fill{
  from{
    fill-opacity: 0;
  }

  to{
    fill-opacity: 1;
  }
}
@keyframes outro{
  from{
    opacity: 1;
  }
  to{
    opacity: 0;
  }
}
/* PG */
.PG {
  background: rgb(0,0,0);
background: -moz-linear-gradient(40deg, rgba(0,0,0,1) 0%, rgba(228,82,38,1) 17%, rgba(233,179,15,1) 34%, rgba(60,236,23,1) 49%, rgba(10,53,221,1) 65%, rgba(243,128,235,1) 83%, rgba(255,255,255,1) 100%);
background: -webkit-linear-gradient(40deg, rgba(0,0,0,1) 0%, rgba(228,82,38,1) 17%, rgba(233,179,15,1) 34%, rgba(60,236,23,1) 49%, rgba(10,53,221,1) 65%, rgba(243,128,235,1) 83%, rgba(255,255,255,1) 100%);
background: linear-gradient(40deg, rgba(0,0,0,1) 0%, rgba(228,82,38,1) 17%, rgba(233,179,15,1) 34%, rgba(60,236,23,1) 49%, rgba(10,53,221,1) 65%, rgba(243,128,235,1) 83%, rgba(255,255,255,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#ffffff",GradientType=1);
filter: blur(20px);
  height: 100vh;
  width: 100%;
}
